{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <title>Lista de agendamientos asociados a profesional</title>
    {% tailwind_css %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
        body {
            font-family: 'Open Sans', sans-serif;
        }
    </style>
</head>
<body class="p-4">

    <h1 class="text-3xl font-bold text-center mt-20 mb-10 uppercase">
        Mis agendamientos
    </h1>

    <div class="overflow-x-auto">
        <table class="bg-white border border-grey-400 w-full" id="schedulings_table">
            <thead>
                <tr>
                    <th class="px-6 py-3 text-left text-xs font-bold text-gray-500 uppercase tracking-wider">Descripción</th>
                    <th class="px-6 py-3 text-left text-xs font-bold text-gray-500 uppercase tracking-wider">Nombre usuario</th>
                    <th class="px-6 py-3 text-left text-xs font-bold text-gray-500 uppercase tracking-wider">Hora inicio</th>
                    <th class="px-6 py-3 text-left text-xs font-bold text-gray-500 uppercase tracking-wider">Hora término</th>
                    <th class="px-6 py-3 text-left text-xs font-bold text-gray-500 uppercase tracking-wider">Estado de pago</th>
                    <th class="px-6 py-3 text-left text-xs font-bold text-gray-500 uppercase tracking-wider">Acciones</th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
                {% for scheduling in schedulings %}
                <tr>
                    <td class="px-6 py-4 whitespace-normal">{{ scheduling.description }}</td>
                    <td class="px-6 py-4 whitespace-normal">{{ scheduling.customer_name }}</td>
                    <td class="px-6 py-4 whitespace-normal">{{ scheduling.start_datetime }}</td>
                    <td class="px-6 py-4 whitespace-normal">{{ scheduling.end_datetime }}</td>
                    {% if scheduling.status == 'Pagado' %}
                    <td class="px-6 py-4 whitespace-normal">
                        <svg 
                            class="h-8 w-8 text-green-500"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M7 12l5 5l10 -10" />  <path d="M2 12l5 5m5 -5l5 -5" />
                        </svg>
                    </td>
                    <td class="px-6 py-4 whitespace-normal">
                        <button class="inline-block bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600" onclick="markAsPaid('{{ scheduling.id }}')">Marcar como no pagado</button>
                    </td>
                    {% elif scheduling.status == 'No pagado' %}
                    <td class="px-6 py-4 whitespace-normal">
                        <svg 
                            class="h-8 w-8 text-red-500"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <line x1="18" y1="6" x2="6" y2="18" />  <line x1="6" y1="6" x2="18" y2="18" />
                        </svg>
                    </td>                    
                    <td class="px-6 py-4 whitespace-normal">
                        <button class="inline-block bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600" onclick="markAsPaid('{{ scheduling.id }}')">Marcar como pagado</button>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="mt-8 text-center">
        <a href="{% url 'logout' %}" class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded">Cerrar sesión</a>
    </div>

    <script>
    function markAsPaid(schedulingId) {
        const data = {
            status: 'paid'
        };
        axios.patch(`/schedulings/${schedulingId}/`, data)
            .then(response => {
                console.log('Scheduling marked as paid successfully');
                window.location.reload();
            })
            .catch(error => {
                console.error('Error marking scheduling as paid:', error);
            });
    }
    </script>
</body>
</html>