{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Iniciar sesión</title>
    {% tailwind_css %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
        body {
            font-family: 'Open Sans', sans-serif;
        }
    </style>
</head>
<body class="p-4">
    <h1 class="text-3xl font-bold text-center mt-20 mb-10 uppercase">Iniciar sesión</h1>
    <form method="post" class="max-w-lg mx-auto p-6 bg-white shadow-md rounded-lg">
        {% csrf_token %}
        
        <div class="mb-4">
            <label for="id_username" class="block text-sm font-medium text-gray-700">Nombre de usuario</label>
            <input type="text" id="id_username" name="username" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" required>
        </div>
        
        <div class="mb-4">
            <label for="id_password" class="block text-sm font-medium text-gray-700">Contraseña</label>
            <input type="password" id="id_password" name="password" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" required>
        </div>
        <div class="text-right mb-4">
            <button type="submit" class="inline-block bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Iniciar sesión</button>
        </div>
        <div class="text-right">
            <a href="/" class="inline-block bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Volver al inicio</a>
        </div>
    </form>
</body>
</html>
